.container {
    height: 100vh;
    background-image: url('../img/bg-rana-sawalha.png');
    background-repeat: no-repeat;
    background-size: cover;
}


/* Header */
.header {
    padding: 22px 75px 19px 81px;
    background-color: rgba(1, 1, 1, 0.4);
}
.header__logo {
    font-size: 20px;
    font-weight: 700;
    color: white;
    text-transform: uppercase;
    float: left;
}
.header__logo:hover {
    color: #3cb878;
    transition: 0.3s;
}
.header__nav {
    float: right;
}
.header__nav__icon {
    display: inline-block;
    margin-right: 28px;
}
.calendar {
    background: url('../img/css_sprites.png') -10px -10px;
    width: 19px;
    height: 19px;
}
.calendar:hover {
    background: url('../img/css_sprites.png') -49px -10px;
}
.forum {
    width: 28px;
    height: 20px;
    background: url('../img/css_sprites.png') -168px -10px;
}
.forum:hover {
    background: url('../img/css_sprites.png') -216px -10px;
}
.compass {
    width: 20px;
    height: 20px;
    background: url('../img/css_sprites.png') -88px -10px;
}
.compass:hover {
    background: url('../img/css_sprites.png') -128px -10px;
}
.header__nav__sign {
    display: inline-block;
    line-height: 23px;
    padding-left: 28px;
    border-left: 2px solid #33312f;
    color: white;
    font-size: 14px;
    word-spacing: 3px;
    vertical-align: top;
}


/* Auth */
.auth {
    padding: 30px 60px;
    width: 444px;
    margin: 0 auto;
    margin-top: calc((100vh - 620px - 64px) / 2);
    background-color: white;
    border-radius: 11px;
    box-sizing: border-box;
    position: relative;
}
.auth__nav__sign {
    float: left;
    font-size: 20px;
    letter-spacing: 1px;
    cursor: pointer;
}
.auth__nav__sign::before {
    content: '';
    position: absolute;
    left: 0;
    width: 18px;
    height: 19px;
    background-color: #3cb878;
    
}
.auth__nav__login {
    float: right;
    font-size: 14px;
    line-height: 21px;
    cursor: pointer;
}
.auth__soc {
    margin-top: 15px;
}
.auth__soc__btn {
    width: 49%;
    height: 46px;
    padding-left: 20px;
    padding-top: 9px;
    box-sizing: border-box;
    border-radius: 3px;
    cursor: pointer;
}
.fb {
    background-color: #305db8;
    float: left;
}
.fb:hover {
    background-color: #264b96;
    transition: 0.4s;
}
.google {
    background-color: #df4a32;
    float: right;
}
.google:hover {
    background-color: #c3412c;
    transition: 0.4s;
}
.auth__soc__name {
    display: inline-block;
    font-size: 16px;
    padding-left: 20px;
    color: white;
    vertical-align: middle;
    line-height: 28px;
    border-left: 1px solid rgba(1, 1, 1, 0.1);
    letter-spacing: 1px;
}
.auth__soc__icon {
    vertical-align: middle;
    margin-right: 10px;
}

.auth__form {
    margin-top: 33px;
}
.auth__form__legend {
    margin: 0 auto;
    font-size: 14px;
    color: rgba(132, 132, 132, 255);
    padding: 0 18px;
    
}
.auth__from__fieldset {
    border-top: 1px solid rgba(1, 1, 1, 0.1);
    border-left: none;
    border-right: none;
    border-bottom: none;
    padding: 0;
}
.input {
    width: 100%;
    margin-top: 18px;
    height: 46px;
    font-size: 14px;
    padding-left: 18px;
    color: rgba(67, 67, 67, 255);
    border: 1px solid rgba(1, 1, 1, 0.1);
    box-sizing: border-box;
    outline: none;
    border-radius: 3px;
}
.input::placeholder {
    color: rgba(190, 190, 190, 255);
}
.input:focus {
    box-shadow: 0px 2px 9px 0px rgba(0,0,0,0.2);
}
.input__checkbox {
    margin-top: 20px;
    display: inline-block;
    box-sizing: border-box;
    padding: 0;
}
.input__checkbox input[type="checkbox"] {
    display: none;
}
.input__checkbox__icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 1px solid rgba(1, 1, 1, 0.1);
    box-sizing: border-box;
    vertical-align: middle;
    cursor: pointer;
}
.checkmark::after {
    content: '';
}
.input__checkbox input[type="checkbox"]:checked ~ .input__checkbox__icon::before {
    content: url('../img/checkbox.png');
    display: inline-block;
    width: 20px;
    line-height: 20px;
    text-align: center;
}
.input__checkbox__text {
    display: inline-block;
    margin-left: 10px;
    font-size: 14px;
    vertical-align: middle;
}
.input__submit {
    margin-top: 25px;
    width: 100%;
    height: 46px;
    background-color: #3cb878;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 3px;
    letter-spacing: 1px;
    cursor: pointer;
}
.input__submit:hover {
    background-color: #329a65;
    transition: 0.4s;
}






/* Default */
.green__text {
    color: #3cb878;
}
.green__text:hover {
 text-decoration: underline;
}
/* ClearFix */
.clearfix::after {
    content: '';
    clear: both;
    height: 0;
    display: block;
    visibility: hidden;
}